<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bariki_othmane">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.bariki_othmane.vehicule"></activity>
        <activity android:name="com.example.bariki_othmane.ChangeSuccess" />
        <activity android:name="com.example.bariki_othmane.ForgOtp" />
        <activity android:name="com.example.bariki_othmane.SetNewPassword" />
        <activity android:name="com.example.bariki_othmane.Profile_card" />
        <activity android:name="com.example.bariki_othmane.MapBox" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.example.bariki_othmane.Profile" />
        <activity android:name="com.example.bariki_othmane.Help" />
        <activity android:name="com.example.bariki_othmane.verifyPhoneCapitain" />
        <activity android:name="com.example.bariki_othmane.mdpOublier2" />
        <activity android:name="com.example.bariki_othmane.mdpOublier" />
        <activity android:name="com.example.bariki_othmane.verifyPhone" />
        <activity android:name="com.example.bariki_othmane.signUpDriverPage3" />
        <activity android:name="com.example.bariki_othmane.signUpDriverPage2" />
        <activity android:name="com.example.bariki_othmane.signUpDriverPage1" />
        <activity android:name="com.example.bariki_othmane.signUppage3" />
        <activity android:name="com.example.bariki_othmane.signUpPage2" />
        <activity android:name="com.example.bariki_othmane.signUpPage1" />
        <activity android:name="com.example.bariki_othmane.CapitainLogin" />
        <activity android:name="com.example.bariki_othmane.activity2" />
        <activity android:name="com.example.bariki_othmane.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.bariki_othmane.Home">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>